.navContainer
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.logoContainer
{
    display: flex;
    align-items: center;
}

.logoContainer img
{
    width: 35px;
    height: 35px;
    padding: 10px;
}

.linksContainer
{
    display: flex;
    justify-self: center;
    gap: 50px; 
}

.spaceContainer
{
    display: flex;
}

nav
{
    position: absolute;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    z-index: 100;
}

nav a
{
    position: relative;
    text-decoration: none;
    color: black;

    transition: 0.5s ease;
}

nav a:hover
{
    color:rgb(17, 141, 255);
    transform: scale(1.25);
}

nav a::after
{
    content: "";

    position: absolute;
    left: 50%;

    width: 0;
    height: 1px;
    bottom: 10px;

    background-color: black;

    transform: translateX(-50%);
    transition: width 0.5s ease, background-color 1s ease ;

}

nav a:hover::after
{
    background-color: rgb(17, 141, 255);
    width: 100%;
    
}

