.executivedashImg
{
    width: 1150px;
    height: 675px;
}

.execHeader
{
    margin-top: -1px;
    margin-bottom: 10px;
    font-size: 50px;
    color: rgb(68, 68, 255);
}

.healthdashImg
{
    width: 1150px;
    height: 675px;
}

.supportdashImg
{
    width: 1150px;
    height: 675px;
}

.insightsHeader
{
    margin-top: -1px;
    margin-bottom: 10px;
    font-size: 50px;
    color: rgb(68, 68, 255);
}

